# Entorno virtual
TestEnv/
venv/

# Caché de pytest
.pytest_cache/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store

# Archivos de logs temporales
*.log
